<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.starter.springai" level="DEBUG"/>
    <logger name="org.springframework" level="INFO"/>

    <root level="INFO"> <!-- 기본 로그 레벨 -->
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>